.uniq-m-header {
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   background-position: center;
   padding-top: 30px;
   min-height: 450px;
}
.uniq-m-container-header {
    display: flex;
    gap: 100px;
    color: #fff;
    font-family: var(--inter);
}
.uniq-m-header-left {
    width: 200px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.uniq-m-header-left img {
    width: 100%;
    height: 100%;
}
.uniq-m-header-right {
    width: 700px;
}
.uniq-m-header-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
.uniq-m-header-data {
    display: flex;
    gap: 10px;
}
.uniq-m-header-status {
    display: flex;
    gap: 20px;
}
@media(max-width: 1000px) {
   .uniq-m-header .container {
        max-width: 950px;
    }
    .uniq-m-container-header {
        gap: 100px;
        max-width: 850px;
    }
}
@media(max-width: 850px) {
    .uniq-m-header .container {
         max-width: 750px;
     }
     .uniq-m-container-header {
         gap: 30px;
         max-width: 650px;
     }
     .uniq-m-header-right {
        width: 500px;
    }
 }
 @media(max-width: 650px) {
    .uniq-m-header .container {
         max-width: 550px;
     }
     .uniq-m-container-header {
         flex-direction: column;
         max-width: 450px;
         align-items: center;
     }
     .uniq-m-header-right {
        width: 400px;
    }
 }
 @media(max-width: 450px) {
    .uniq-m-header .container {
         max-width: 400px;
     }
     .uniq-m-container-header {
         flex-direction: column;
         max-width: 400px;
         align-items: center;
     }
     .uniq-m-header-right {
        width: 400px;
    }
    .uniq-m-header-data {
        flex-direction: column;
    }
    .uniq-m-header-title {
        flex-direction: column;
    }
    .uniq-m-header-status {
        flex-direction: column;
    }
 }
 @media(max-width: 400px) {
    .uniq-m-header-right {
        max-width: 350px;
    }
    .uniq-m-header-data {
        flex-direction: column;
        align-items: center;
    }
    .uniq-m-header-title {
        flex-direction: column;
        align-items: center;
    }
    .uniq-m-header-status {
        flex-direction: column;
        align-items: center;
    }
 }