.uniq-t-p-Sw {
    margin: 30px 0 50px 0;
    border-radius: 20px;
    position: relative;
}
.uniq-t-p-Sw::after {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 0 20px #ffff, 10px 0 30px #ffff, 15px 0 25px #ffff;
}
.uniq-t-p-Sw::before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0 20px #ffff, -10px 0 30px #ffff, -15px 0 25px #ffff;
}
.uniq-t-p-container {
    width: 150px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto);
    cursor: pointer;
}
.uniq-t-p-i {
    width: 140px;
    height: 240px;
    box-shadow: 0 0 8px rgba(105, 105, 105, 0.524);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.uniq-t-p-img {
    width: 140px;
    height: 180px;
    position: relative;
}
.uniq-t-p-img img {
    width: 140px;
    height: 180px;
    border-radius: 10px;
}
.uniq-t-p-rating {
    width: 40px;
    height: 40px;
    border: 3px solid #000;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.uniq-t-p-name {
    text-align: center;
}
.uniq-t-p-character {
    text-align: center;
}