.teater-mySwiper {
    position: relative;
    border-radius: 20px;
    margin-top: 30px;
}
.teater-mySwiper::after {
    content: "";
    width: 10px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 5px 0 20px #ffff,10px 0 30px #ffff, 15px 0 25px #ffff;
}
.teater-mySwiper::before {
    content: "";
    width: 10px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -5px 0 20px #ffff,-10px 0 30px #ffff, -15px 0 25px #ffff;
}
.teater-movieItem {
    width: 180px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teater-item-container {
    width: 170px;
    height: 340px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(105, 105, 105, 0.524);
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    font-family: var(--roboto);
}
.teater-item-container-img{
    width: 170px;
    height: 230px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.teater-item-rating {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.teater-item-title {
    text-align: center;
}
.teater-item-about {
    height: 60px;
    overflow: hidden;
    text-align: center;
}
.teater-item-date {
    text-align: center;
}
@media(max-width: 390px) {
    .teater-movieItem {
        transform: translateX(40%);
    }
}