.uniq-persone {
    margin-top: 30px;
}
.uniq-persone .container {
    display: flex;
    gap: 100px;
}
.uniq-p-container-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.uniq-p-persone-img {
    width: 250px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}
.uniq-p-persone-img img {
    width: 100%;
    height: 100%;
}
.uniq-p-container-right {
    max-width: 800px;
}
@media(max-width: 1200px) {
    .uniq-p-container-right {
        max-width: 600px;
    }
}
@media(max-width: 995px) {
    .uniq-p-container-right {
        max-width: 500px;
    }
}
@media(max-width: 950px) {
    .uniq-persone .container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}